/*------------------------------------------------------------------
@section 47. Float Classes
*/
.float-l{
	float: left !important;
}
.float-r{
	float: right !important;
}
.float-none{
	float: none !important;
}
.clearfix{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/* Breakpoints */
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		@each $float-breakpoint in $float-responsive{
			@if $float-breakpoint == $breakpoint{
				.float-#{$breakpoint}-l{
					float: left !important;
				}
				.float-#{$breakpoint}-r{
					float: right !important;
				}
				.float-#{$breakpoint}-none{
					float: none !important;
				}
				.clearfix-#{$breakpoint}{
					&:after {
						content: "";
						display: table;
						clear: both;
					}
				}
			}
		}
	}
}