@mixin breakpoint-min($bpmin){
	$min: map-get($breakpoints, $bpmin);
	@if $min {
		@media only screen and (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin breakpoint-max($bpmax){
	$max: map-get($breakpoints, $bpmax);
	@if $max {
		@media only screen and (max-width: $max) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin breakpoint-between($bpmin,$bpmax){
	$min: map-get($breakpoints, $bpmin);
	$max: map-get($breakpoints, $bpmax);
	@if $min != null and $max != null {
		@media only screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else {
		@content;
	}
}