/*------------------------------------------------------------------
@section 1. Base
*/

blockquote,
dl,
dt,
dd,
figure,
hr,
h1,
h2,
h3,
h4,
h5,
h6
iframe,
p,
pre,
ol,
ul,
li,
textarea{
	margin: 0;
}

button,
input,
select{
	margin: 0
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}

html{
	font-size: $font-base-size;
}
html, body {
	max-width: 100%;
}
body {
	padding: 0;
	margin: 0;
	background: $body-bkg-color;
	color: $body-color;
 	font-family: $font-family-base;
 	font-weight: normal;
	font-style: normal;
	font-size: $body-font-size;
	line-height: $body-line-height;
	overflow-x: hidden !important;
    overflow-y: scroll;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.boxed{
		background-color: $body-boxed-bkg-color;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top: $headings-margin-top;
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	letter-spacing: $headings-letter-spacing;
	color: $headings-color;
}

* h1:first-child,
* h2:first-child,
* h3:first-child,
* h4:first-child,
* h5:first-child,
* h6:first-child{
	margin-top: 0;
}

*,
*:before,
*:after {
	border: 0 solid $component-border-color;
	box-sizing: border-box;
}

a{
	color: $link-color;
	text-decoration: $link-decoration;
	@include transition();
	&:hover{
		color: $link-color-hover;
		text-decoration: $link-decoration-hover;
	}
	> *{
		pointer-events: none;
	}
}

p{
	margin-top: $paragraph-margin-top;
	margin-bottom: $paragraph-margin-bottom;
}

hr {
  margin-top: $hr-margin-top;
  margin-bottom: $hr-margin-bottom;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

.wrapper{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	-webkit-backface-visibility: hidden;
	.wrapper-inner{
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
}

.section-block{
	width: 100%;
	padding: $section-block-padding-y $section-block-padding-x $section-block-padding-y $section-block-padding-x;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-size: cover;
	background-position: center;
	@include transition(background-color border box-shadow color opacity);
	position: relative;
}

.media-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	+ *{
		position: relative;
	}
}

.freeze-wrapper,
.freeze{
	width: 100%;
}