/*------------------------------------------------------------------
@section 19. Navigation
*/
// Navbar wrappers
.nav-bar{
	width: 100%;
}
.nav-bar-inner{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

// Nav structure
.navigation{
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul{
		li{
			position: relative;
			> a{
				display: block;
				text-decoration: none;
			}
			> a > span{
				position: relative;
			}
			> a [class*="icon-"]{
				margin-bottom: 0;
			}
		}
		> li{
			> a{
				height: 100%;
				display: flex;
				align-items: center;
				> span{
					line-height: $nav-link-span-line-height;
				}
				> span .description{
					display: block;
					font-size: $nav-link-description-font-size;
				}
			}
		}
	}
}

// Main menu item styling
.main-menu-item{
	height: inherit;
	padding: $nav-link-padding;
	font-weight: $nav-font-weight;
	line-height: inherit;
	font-size: $nav-font-size;
	color: $nav-color;
	&:hover{
		color: $nav-color-hover;
	}
	&.active{
		background-color: $nav-bkg-color-active;
		color: $nav-color-active;
		text-decoration: $nav-text-decoration-active;
		font-weight: $nav-font-weight-active;
		&:hover{
			background-color: $nav-bkg-color-active;
			color: $nav-color-active;
		}
	}
}

// Sub and Mega menus
.navigation{
	ul{
		li:hover{
			> .sub-menu,
			> .mega-sub-menu{
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

// Sub and dropdown menu width
.sub-menu,
.dropdown-menu{
	min-width: $nav-sub-menu-min-width;
}

// Sub and dropdown menu item styling
.sub-menu,
.dropdown-menu{
	text-align: left;
	line-height: $nav-sub-menu-line-height;
	background: $nav-sub-menu-bkg-color;
	box-shadow: $nav-sub-menu-box-shadow;
	border: none;
	border-radius: $nav-sub-menu-border-radius;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 1000;
	li{
		background: none;
		&:last-child{
			border-bottom: none;
		}
	}
}
.sub-menu-item{
	padding: $nav-sub-menu-link-padding;
	color: $nav-sub-menu-color;
	font-size: $nav-sub-menu-font-size;
	font-weight: $nav-sub-menu-font-weight;
	&:hover{
		background-color: $nav-sub-menu-bkg-color-hover;
		color: $nav-sub-menu-color-hover;
	}
	&.active{
		background-color: $nav-sub-menu-bkg-color-active;
		color: $nav-sub-menu-color-active;
		text-decoration: $nav-sub-menu-text-decoration-active;
		font-weight: $nav-sub-menu-font-weight-active;
	}
}
.dropdown-menu{
	margin: 0;
}

// Sub menu position
.sub-menu{
	.sub-menu{
		top: 0;
		left: $nav-sub-menu-min-width
	}
}
.sub-menu-right{
	right: 0;
	left: auto;
	.sub-menu{
		right: $nav-sub-menu-min-width;
		left: auto;
	}
}
.sub.menu-left{
	right: auto;
	left: 0;
	.sub-menu{
		right: auto;
		left: $nav-sub-menu-min-width;
	}
}

// Mega sub menu
.navigation{
	li{
		&.contains-mega-sub-menu{
			position: inherit;
		}
	}
}
.mega-sub-menu{
	height: auto;
	padding: $nav-mega-menu-wrapper-padding;
	margin-left: 0;
	margin-right: 0; 
	line-height: $nav-sub-menu-line-height;
	background: $nav-sub-menu-bkg-color;
	box-shadow: $nav-sub-menu-box-shadow;
	border: none;
	border-radius: $nav-sub-menu-border-radius;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1000;
	> li{
		padding: $nav-mega-menu-column-padding-x;
		text-align: left;
		float: left;
		border-right: $nav-mega-menu-column-divider;
	}
	li{
		width: 100%;
	}
}

// Mega menu child links
.mega-menu-item{
	padding: $nav-mega-menu-link-padding;
	color: $nav-mega-menu-color;
	font-size: $nav-sub-menu-font-size;
	font-weight: $nav-sub-menu-font-weight;
	&:hover{
		background: $nav-mega-menu-bkg-color-hover;
		color: $nav-mega-menu-color-hover;
	}
	&.active{
		background: $nav-mega-menu-bkg-color-active;
		color: $nav-mega-menu-color-active;
		text-decoration: $nav-mega-menu-text-decoration-active;
		font-weight: $nav-mega-menu-font-weight-active;
	}
}
			

// Sub and mega menu indication
.sub-menu-indicator{
	.contains-sub-menu,
	.contains-mega-sub-menu{
		 &:after{
		 	height: 100%;
		 	margin-left: 0.5rem;
		 	display: flex;
		 	align-items: center;
		 	font-family: $component-font-library;
		 	content: $nav-icon-down;
			font-size: inherit;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
		 }
	}
}
.sub-menu{
	.contains-sub-menu{
		padding-right: $nav-sub-menu-icon-padding-right;
		&:after{
			font-family: $component-font-library;
			right: 0.8rem;  
			content: $nav-sub-menu-icon-right;
			vertical-align: bottom;
		}
	}
}

// Sub and mega menu transitions
.sub-menu,
.mega-sub-menu{
	@include transition();
}

// Nav icons
.nav-icon:not(.navigation-show):not(.navigation-hide){
	> span{
		font-size: $nav-icon-font-size;
	}
}
.nav-icon{
	color: $nav-icon-color;
	&:hover,
	&.active{
		color: $nav-icon-color-hover;
	}
}

// Aux access
.navigation-show,
.navigation-hide{
	&:after{
		height: 100%;
		font-family: $component-font-library;
		font-size: $hamburger-nav-font-size;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: inherit;
		text-align: center;
		vertical-align: bottom;
	};
}
.navigation-show{
	color: $hamburger-nav-color;
	&:hover{
		color: $hamburger-nav-color-hover;
	}
	&:after{
		content: $hamburger-nav-icon;
	}
}
.navigation-hide{
	position: relative;
	z-index: 10;
	color: $aux-nav-close-color;
	position: relative;
	&:hover{
		color: $aux-nav-close-color-hover;
		text-decoration: none;
	}
	&:after{	
		content: $aux-nav-icon;
	}
}

// Animated version
.navigation-show{
	span {
		display: block;
		width: $hamburger-nav-animated-border-width;
		height: $hamburger-nav-animated-border-height;
		margin-bottom: $hamburger-nav-animated-border-spacing !important;
		background: $hamburger-nav-color;
		position: relative;
		transform-origin: center center;
	}
	&:hover{
		span{
			background: $hamburger-nav-color-hover;
		}
	}
	span:nth-child(1) {
		animation: ease $hamburger-nav-animated-duration top-2 forwards;
	}
	span:nth-child(2) {
		animation: ease $hamburger-nav-animated-duration scale-2 forwards;
	}
	span:nth-child(3) {
		margin-bottom: 0 !important;
		animation: ease $hamburger-nav-animated-duration bottom-2 forwards;
	}
	&.active{
		span:nth-child(1) {
			animation: ease $hamburger-nav-animated-duration top forwards;
		}
		span:nth-child(2) {
			animation: ease $hamburger-nav-animated-duration scale forwards;
		}
		span:nth-child(3) {
			animation: ease $hamburger-nav-animated-duration bottom forwards;
		}
	}
}

@keyframes top {
	0% {
		top: 0;
		transform: rotate(0);
	}
	50% {
		top: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(0);
	}
	100% {
		top: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(45deg);
	}
}
@keyframes top-2 {
	0% {
		top: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(45deg);
	}
	50% {
		top: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		transform: rotate(0deg);
	}
}
@keyframes bottom {
	0% {
		bottom: 0;
		transform: rotate(0);
	}
	50% {
		bottom: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(0);
	}
	100% {
		bottom: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(135deg);
	}
}
@keyframes bottom-2 {
	0% {
		bottom: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(135deg);
	}
	50% {
		bottom: $hamburger-nav-animated-border-spacing + $hamburger-nav-animated-border-height;
		transform: rotate(0);
	}
	100% {
		bottom: 0;
		transform: rotate(0);
	}
}
@keyframes scale {
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes scale-2 {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

/* Breakpoints */
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		.reset-#{$breakpoint}-sub-menu .sub-menu{
			right: 0 !important;
			left: 0 !important;
		}
	}
}