/*------------------------------------------------------------------
@section 45. Select
*/

.select-none{
	user-select: none;
}	
.select-text{
	user-select: text;
}	
.select-all{
	user-select: all;
}
.select-auto{
	user-select: auto;
}

// Breaktpoints
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		@each $resize-breakpoint in $resize-responsive {
			@if $resize-breakpoint == $breakpoint{
				.select-#{$breakpoint}-none{
					user-select: none;
				}	
				.select-#{$breakpoint}-text{
					user-select: text;
				}	
				.select-#{$breakpoint}-all{
					user-select: all;
				}
				.select-#{$breakpoint}-auto{
					user-select: auto;
				}
			}
		}
	}
}