/*------------------------------------------------------------------
@section 64. Font Size Classes
*/

h1{ font-size: $h1-font-size; }
h2{ font-size: $h2-font-size; }
h3{ font-size: $h3-font-size; }
h4{ font-size: $h4-font-size; }
h5{ font-size: $h5-font-size; }
h6{ font-size: $h6-font-size; }

small{
  font-size: $small-font-size;
  font-weight: inherit;
}

/* Custom font classes */
@each $font-size, $size in $font-sizes {
	.text-#{$font-size}{
		font-size: #{$size} !important;
	}
}

/* Breakpoints */
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		@if $breakpoint == $h-tag-responsive {
			h1{ font-size: $h1-responsive-font-size; }
			h2{ font-size: $h2-responsive-font-size; }
			h3{ font-size: $h3-responsive-font-size; }
			h4{ font-size: $h4-responsive-font-size; }
			h5{ font-size: $h5-responsive-font-size; }
			h6{ font-size: $h6-responsive-font-size; }
			body { font-size: $body-responsive-font-size; }
		}
		@each $font-size-breakpoint in $font-size-responsive{
			@if $font-size-breakpoint == $breakpoint{
				@each $font-size, $size in $font-sizes {
					.text-#{$breakpoint}-#{$font-size}{
						font-size: #{$size} !important;
					}
				}
			}
		}
	}
}