/*------------------------------------------------------------------
@section 62. Font Family Classes
*/
.font-sans{
	font-family: $font-family-sans-serif;
}
.font-serif{
	font-family: $font-family-serif;
}
.font-mono{
	font-family: $font-family-monospace;
}

/* Breakpoints */
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		@each $font-family-breakpoint in $font-family-responsive{
			@if $font-family-breakpoint == $breakpoint{
				.font-#{$breakpoint}-sans{
					font-family: $font-family-sans-serif;
				}
				.font-#{$breakpoint}-serif{
					font-family: $font-family-serif;
				}
				.font-#{$breakpoint}-mono{
					font-family: $font-family-monospace;
				}
			}
		}
	}
}