/*------------------------------------------------------------------
@section 67. Text Transform
*/
.normalcase{
	text-transform: none !important; 
}
.lowercase{
	text-transform: lowercase !important; 
}
.uppercase{ 
	text-transform: uppercase !important; 
}
.capitalize{
	text-transform: capitalize !important; 
}

/* Breakpoints */
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		@each $text-transform-breakpoint in $text-transform-responsive{
			@if $text-transform-breakpoint == $breakpoint{
				.normalcase-#{$breakpoint}{
					text-transform: none !important; 
				}
				.lowercase-#{$breakpoint}{
					text-transform: lowercase !important; 
				}
				.uppercase-#{$breakpoint}{ 
					text-transform: uppercase !important; 
				}
				.capitalize-#{$breakpoint}{
					text-transform: capitalize !important; 
				}
			}
		}
	}
}