/*------------------------------------------------------------------
@section 65. Text Classes
*/
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.justify{
	text-align: justify !important;
}

/* Breakpoints */
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		@each $text-align-breakpoint in $text-align-responsive{
			@if $text-align-breakpoint == $breakpoint{
				.left-#{$breakpoint}{
					text-align: left !important;
				}
				.center-#{$breakpoint}{
					text-align: center !important;
				}
				.right-#{$breakpoint}{
					text-align: right !important;
				}
				.justify-#{$breakpoint}{
					text-align: justify !important;
				}
			}
		}
	}
}