/*------------------------------------------------------------------
@section 70. Word Break Classes
*/
.break-normal{
	word-break: normal;
	overflow-wrap: normal;
}
.break-words{
	word-wrap: break-word;
}
.break-all{
	word-break: break-all;
}
.truncate{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Breakpoints */
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-max($breakpoint){
		@each $word-break-breakpoint in $word-break-responsive{
			@if $word-break-breakpoint == $breakpoint{
				.break-#{$breakpoint}-normal{
					word-break: normal;
					overflow-wrap: normal;
				}
				.break-#{$breakpoint}-words{
					word-wrap: break-word;
				}
				.break-#{$breakpoint}-all{
					word-break: break-all;
				}
				.truncate-#{$breakpoint}{
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}