<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../images/favicon/site.webmanifest">
	<link rel="mask-icon" href="../images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Timber | Layout: Checkout</title>
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@unlimit.design">
	<meta name="twitter:title" content="Timber CSS Framework - Timber is a utility-first, desktop-first CSS framework built for fast prototyping">
	<meta name="twitter:description" content="Timber CSS Framework Documentation">
	<meta name="twitter:image" content="https://timbercss.com/twitter-card.png">
	<meta name="twitter:creator" content="@unlimit.design">
	<meta property="og:url" content="https://timbercss.com/" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Timber CSS Framework - Timber is a utility-first, desktop-first CSS framework built for fast prototyping" />
	<meta property="og:description" content="Timber CSS Framework Documentation" />
	<meta property="og:image" content="https://timbercss.com/twitter-card.png" />
	<link rel="stylesheet" href="../css/timber.css" />
</head>
<body>

	<!-- Side Navigation Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header flex justify-between items-center">
					<a href="index.html"><img src="../images/logo.png" alt="Logo" width="100"/></a>
					<a href="#" class="navigation-hide side-nav-hide"></a>
				</div>
				<nav class="side-navigation nav-block">
					<ul>
						<li>
							<a href="#" class="contains-sub-menu">Main menu item 1</a>
							<ul class="sub-menu">
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2017 ThemeMountain.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Side Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header header-transparent fixed nav-dark" data-bkg-threshold="100" data-sticky-scroll-up>
				<div class="header-inner border-1 border-b border-grey-lightest">
					<div class="row nav-bar">
						<div class="col w-full nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="../index.html"><img src="../images/logo.svg" alt="Logo" /></a>
									<a href="../index.html"><img src="../images/logo-dark.svg" alt="Logo" /></a>
								</div>
							</div>
							<nav class="navigation primary-navigation nav-block nav-block-last ml-auto sub-menu-indicator">
								<ul>
									<li class="contains-mega-sub-menu">
										<a href="elements-accordions.html" class="active">Boilerplate</a>
										<ul class="mega-sub-menu row">
											<li class="col w-4/12">
												<h4>Sections</h4>
												<ul>
													<li>
														<a href="section-contact-forms.html" class="mega-menu-item">Contact Form Sections</a>
													</li>
													<li>
														<a href="section-feature-columns.html" class="mega-menu-item">Feature Column Sections</a>
													</li>
													<li>
														<a href="section-feature.html" class="mega-menu-item">Feature Sections</a>
													</li>
													<li>
														<a href="section-footer.html" class="mega-menu-item">Footer Sections</a>
													</li>
													<li>
														<a href="section-fullscreen.html" class="mega-menu-item">Fullscreen Sections</a>
													</li>
													<li>
														<a href="section-grid-default.html" class="mega-menu-item">Grid Section</a>
													</li>
													<li>
														<a href="section-grid-filter-menu-count.html" class="mega-menu-item">Grid Section (with filter count)</a>
													</li>
													<li>
														<a href="section-grid-infinite-scroll.html" class="mega-menu-item">Grid Section (with infinite scroll)</a>
													</li>
													<li>
														<a href="section-grid-load-more.html" class="mega-menu-item">Grid Section (with load more button)</a>
													</li>
													<li>
														<a href="section-grid-lazyload.html" class="mega-menu-item">Grid Section (with lazyload)</a>
													</li>
													<li>
														<a href="section-header.html" class="mega-menu-item">Header Sections</a>
													</li>
													<li>
														<a href="section-heros.html" class="mega-menu-item">Hero Sections</a>
													</li>
													<li>
														<a href="section-logos.html" class="mega-menu-item">Logo Sections</a>
													</li>
													<li>
														<a href="section-maps.html" class="mega-menu-item">Map Sections</a>
													</li>
													<li>
														<a href="section-one-page.html" class="mega-menu-item">One Page Section</a>
													</li>
													<li>
														<a href="section-pagination.html" class="mega-menu-item">Pagination Sections</a>
													</li>
													<li>
														<a href="section-signup-forms.html" class="mega-menu-item">Signup Form Sections</a>
													</li>
													<li>
														<a href="section-slider.html" class="mega-menu-item">Slider Sections</a>
													</li>
												</ul>
											</li>
											<li class="col w-4/12">
												<h4>Elements</h4>
												<ul>
													<li>
														<a href="elements-lightbox.html" class="mega-menu-item">Lightbox</a>
													</li>
													<li>
														<a href="elements-images.html" class="mega-menu-item">Images</a>
													</li>
													<li>
														<a href="elements-video.html" class="mega-menu-item">Video</a>
													</li>
													<li>
														<a href="elements-accordions.html" class="mega-menu-item">Accordions</a>
													</li>
													<li>
														<a href="elements-buttons.html" class="mega-menu-item">Buttons</a>
													</li>
													<li>
														<a href="elements-collapsable.html" class="mega-menu-item">Collapsable</a>
													</li>
													<li>
														<a href="elements-forms.html" class="mega-menu-item">Forms</a>
													</li>
													<li>
														<a href="elements-tabs.html" class="mega-menu-item">Tabs</a>
													</li>
													<li>
														<a href="elements-testimonials.html" class="mega-menu-item">Testimonials</a>
													</li>
													<li>
														<a href="elements-cards.html" class="mega-menu-item">Cards</a>
													</li>
													<li>
														<a href="elements-color-swatches.html" class="mega-menu-item">Color Swatches</a>
													</li>
													<li>
														<a href="elements-modals.html" class="mega-menu-item">Modals</a>
													</li>
													<li>
														<a href="elements-pagination.html" class="mega-menu-item">Pagination</a>
													</li>
													<li>
														<a href="elements-progress-bars.html" class="mega-menu-item">Progress Bars</a>
													</li>
													<li>
														<a href="elements-pricing-tables.html" class="mega-menu-item">Pricing Tables</a>
													</li>
													<li>
														<a href="elements-timeline.html" class="mega-menu-item">Timeline</a>
													</li>
													<li>
														<a href="elements-typography.html" class="mega-menu-item">Typography</a>
													</li>
												</ul>
											</li>
											<li class="col w-4/12">
												<h4>Layout Samples</h4>
												<ul>
													<li>
														<a href="layout-blog-grid.html" class="mega-menu-item">Blog Grid</a>
													</li>
													<li>
														<a href="layout-blog-list.html" class="mega-menu-item">Blog List</a>
													</li>
													<li>
														<a href="layout-blog-sidebar-left.html" class="mega-menu-item">Blog Sidebar Left</a>
													</li>
													<li>
														<a href="layout-blog-sidebar-right.html" class="mega-menu-item">Blog Sidebar Right</a>
													</li>
													<li>
														<a href="layout-blog-single-post-sidebar-right.html" class="mega-menu-item">Blog Single Post</a>
													</li>
													<li>
														<a href="layout-cart.html" class="mega-menu-item">Cart</a>
													</li>
													<li>
														<a href="layout-checkout.html" class="mega-menu-item">Checkout</a>
													</li>
													<li>
														<a href="layout-confirmation.html" class="mega-menu-item">Confirmation</a>
													</li>
													<li>
														<a href="layout-login.html" class="mega-menu-item">Login</a>
													</li>
													<li>
														<a href="layout-maintenance.html" class="mega-menu-item">Maintenance</a>
													</li>
													<li>
														<a href="layout-product-grid.html" class="mega-menu-item">Product Grid</a>
													</li>
													<li>
														<a href="layout-product-single.html" class="mega-menu-item">Product Single</a>
													</li>
													<li>
														<a href="layout-product-single-alt.html" class="mega-menu-item">Product Single Alt</a>
													</li>
													<li>
														<a href="layout-register.html" class="mega-menu-item">Register</a>
													</li>
													<li>
														<a href="layout-register-progress.html" class="mega-menu-item">Register Progress</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block secondary-navigation">
								<ul>
									<li class="aux-navigation hide">
										<div>
											<a href="#" class="navigation-show side-nav-show nav-icon"></a>
										</div>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Masthead -->
				<div class="section-block masthead bg-grey-ultralight">
					<div class="row align-items-center">
						<div class="col w-6/12">
							<h2>Checkout</h2>
							<p class="lead mb-0">Verify Your Purchase</p>
						</div>
						<div class="col w-6/12 right left-sm">
							<ul class="breadcrumb">
								<li>
									<a href="shop-grid-three-columns.html">Shop</a>
								</li>
								<li>
									<a href="cart.html">Cart</a>
								</li>
								<li>
									Checkout
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Masthead End -->

				<div class="section-block">
					<div class="row">

						<!-- Sidebar -->
						<aside class="col w-4/12 w-md-full order-2 order-md-1 sidebar">
							<div class="cart-overview freeze" data-extra-space-top="100" data-extra-space-bottom="110" data-push-section=".footer">
								<div class="row">
									<div class="col w-full">
										<h3 class="mb-30">Your Cart</h3>
										<div class="cart-overview">
											<p class="lead mb-10">You have <span class="item-number weight-bold">3</span> items in your cart, for a subtotal of 1685.00</p>
											<hr class="my-10">
											<div class="cart-amount cart-shipping flex items-center justify-between">
												Shipping
												<span class="amount"><span class="currency">$</span>1685.00</span>
											</div>
											<hr class="my-10">
											<div class="cart-amount cart-tax flex items-center justify-between">
												Taxes
												<span class="amount"><span class="currency">$</span>50.00</span>
											</div>
											<hr class="my-10">
											<div class="cart-total flex items-center justify-between">
												Total
												<span class="amount"><span class="currency">$</span>2035.00</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</aside>
						<!-- Sidebar End -->

						<!-- Content Inner -->
						<div class="col w-6/12 w-md-full offset-1 offset-md-0 order-1 order-md-2 content-inner">

							<!-- Billing Form -->
							<div class="billing-details">
								<div class="billing-form-container">
									<form class="billing-form" action="#" method="post" novalidate>

										<!-- Shipping -->
										<div class="row">
											<div class="col w-full">
												<h3 class="mb-30">Shipping</h3>
												<div class="field-wrapper pt-10 pb-10">
													<input id="radio-1" class="form-element radio active" data-toggle-content data-include-margin data-target-content="#toggable" name="radio-group" type="radio" checked="">
													<label for="radio-1" class="radio-label form-radio"><strong>Standard</strong> (FREE)</span></label>
													<input id="radio-2" class="form-element radio" name="radio-group" type="radio" data-toggle-content data-include-margin data-target-content="#toggable-2">
													<label for="radio-2" class="radio-label form-radio"><strong>48hrs</strong> - $5.00</label>
													<input id="radio-3" class="form-element radio" name="radio-group" type="radio" data-toggle-content data-include-margin data-target-content="#toggable-3">
													<label for="radio-3" class="radio-label form-radio"><strong>Next day</strong> - $15.00</label>
													<div id="toggable" class="collapsable-target active">
														<p>Free shipping within the European Union.</p>
													</div>
													<div id="toggable-2" class="collapsable-target">
														<p>Shipping within and outside the European Union. If package is not received within 48hrs, guaranteed money back.</p>
													</div>
													<div id="toggable-3" class="collapsable-target">
														<p>Next day shipping only available Monday-Friday. If package is not received within 24hrs, guaranteed money back</p>
													</div>
												</div>
											</div>
										</div>
										<!-- Shipping End -->

										<div class="row full-width collapse">
											<div class="col w-full">
												<hr class="mt-20 mb-40">
											</div>
										</div>

										<!-- Billing Shipping Address -->
										<div class="row">
											<div class="col w-full">
												<div class="row">
													<div class="col w-6/12">
														<h3 class="mb-30">Address</h3>
													</div>
													<div class="col w-6/12 right left-sm">
														<p><a href="#">Returning Customer &rarr;</a></p>
													</div>
												</div>
												<div class="tabs">
													<div class="tab-nav button-nav">
														<a href="#tabs-billing-address" class="button size-sm rounded-tl rounded-sm-t bg-grey-lightest bg-hover-grey-lightest color-grey-dark color-hover-grey-darkest active bg-active-primary color-active-white">Billing Address</a>
														<a href="#tabs-shipping-address" class="button size-sm rounded-tr bg-grey-lightest bg-hover-grey-lightest color-grey-dark color-hover-grey-darkest bg-active-primary color-active-white">Ship To Another Address</a>
													</div>
													<div class="tab-panes">
														<div id="tabs-billing-address" class="active animate">
															<div class="tab-content">
																<div class="row row-form">
																	<div class="col w-full">
																		<div class="row merged-form-elements">
																			<div class="col w-6/12">
																				<input type="text" name="fname_billing" class="form-fname form-element rounded md" placeholder="First Name*" required>
																			</div>
																			<div class="col w-6/12">
																				<input type="text" name="lname_billing" class="form-lname form-element rounded md" placeholder="Last Name" required>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<input type="email" name="email_billing" class="form-email form-element rounded md" placeholder="Email Address*" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<input type="text" name="address_billing" class="form-billing-address form-element rounded md" placeholder="Billing Address*" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<input type="text" name="address_billing_2" class="form-billing-address-2 form-element rounded md" placeholder="Billing Address 2*" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<div class="form-select size-md">
																			<select name="country_billing" class="form-element rounded" required>
																				<option selected="selected" value="">Country</option>
																				<option value="">Andorra</option>
																				<option value="">France</option>
																				<option value="">Germany</option>
																				<option value="">Norway</option>
																				<option value="">Sweden</option>
																				<option value="">United Kingdom</option>
																				<option value="">United States</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="row row-form">
																	<div class="col w-full">
																		<div class="row merged-form-elements">
																			<div class="col w-8/12">
																				<input type="text" name="city_billing" class="form-city form-element rounded md" placeholder="City*" required>
																			</div>
																			<div class="col w-4/12">
																				<input type="text" name="zip_code_billing" class="form-zip-code form-element rounded md" placeholder="Zip Code*" required>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div id="tabs-shipping-address">
															<div class="tab-content">
																<div class="row">
																	<div class="col w-full">
																		<div class="row merged-form-elements">
																			<div class="col w-6/12">
																				<input type="text" name="fname_shipping" class="form-fname form-element rounded md" placeholder="First Name*" required>
																			</div>
																			<div class="col w-6/12">
																				<input type="text" name="lname_shipping" class="form-lname form-element rounded md" placeholder="Last Name" required>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<input type="email" name="email_shipping" class="form-email form-element rounded md" placeholder="Email Address*" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<input type="text" name="address_shipping" class="form-address form-element rounded md" placeholder="Shipping Address*" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<input type="text" name="address_shipping_2" class="form-address-2 form-element rounded md" placeholder="Shipping Address 2*" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<div class="form-select size-md">
																			<select name="country_billing" class="form-element rounded" required>
																				<option selected="selected" value="">Country</option>
																				<option value="">Andorra</option>
																				<option value="">France</option>
																				<option value="">Germany</option>
																				<option value="">Norway</option>
																				<option value="">Sweden</option>
																				<option value="">United Kingdom</option>
																				<option value="">United States</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="row row-form">
																	<div class="col w-full">
																		<div class="row merged-form-elements">
																			<div class="col w-8/12">
																				<input type="text" name="city_shipping" class="form-city form-element rounded md" placeholder="City*" required>
																			</div>
																			<div class="col w-4/12">
																				<input type="text" name="zip_code_shipping" class="form-zip-code form-element rounded md" placeholder="Zip Code*" required>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Billing Shipping Address End -->

										<div class="row fulid collapse">
											<div class="col w-full">
												<hr class="mt-40 mb-40">
											</div>
										</div>

										<!-- Payment Method -->
										<div class="row">
											<div class="col w-full">
												<h3 class="mb-30">Payment Method</h4>
												<div class="tabs">
													<div class="tab-nav button-nav">
														<a href="#tabs-credit-card" class="button size-sm rounded-tl rounded-sm-t bg-grey-lightest bg-hover-grey-lightest color-grey-dark color-hover-grey-darkest active bg-active-primary color-active-white">Credit Card</a>
														<a href="#tabs-paypal" class="button size-sm rounded-tr bg-grey-lightest bg-hover-grey-lightest color-grey-dark color-hover-grey-darkest bg-active-primary color-active-white">PayPal</a>
													</div>
													<div class="tab-panes">
														<div id="tabs-credit-card" class="active animate">
															<div class="tab-content">
																<div class="row">
																	<div class="col w-full">
																		<input type="text" name="fname_billing" class="form-fname form-element rounded md" placeholder="Cardholder Name" required>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<div class="row">
																			<div class="col w-full">
																				<div class="form-select size-md">
																					<select name="card_type" class="form-element rounded" required>
																						<option selected="selected" value="">Card Type</option>
																						<option value="">Visa</option>
																						<option value="">Visa Express</option>
																						<option value="">MasterCard</option>
																						<option value="">American Express</option>
																					</select>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<div class="input-group">
																			<input type="text" name="card_number" class="form-credit-card form-element rounded size-md rounded-l" placeholder="0000-0000-0000-0000" required>
																			<div class="form-element input-icon size-md rounded-r"><span class="icon-material">credit_card</span></div>
																		</div>
																	</div>
																</div>
																<div class="row row-form">
																	<div class="col w-full">
																		<div class="row merged-form-elements">
																			<div class="col w-8/12">
																				<div class="input-group">
																					<input type="text" name="card_expiration" class="form-expiration form-element rounded-l size-md" placeholder="Exp: 00/00" maxlength="5" required>
																					<div class="form-element input-icon size-md rounded-r"><span class="icon-material">date_range</span></div>
																				</div>
																			</div>
																			<div class="col w-4/12">
																				<div class="input-group">
																					<input type="text" name="card_scode" class="form-security-code form-element rounded size-md rounded-l center" placeholder="CVV" maxlength="3" required>
																					<div class="form-element input-icon size-md rounded-r"><a data-content="inline" href="#cvv-modal" class="lightbox-link icon-material color-primary" data-aux-classes="tml-cart-modal tml-exit-light m-0 height-auto" data-modal-mode data-toolbar="" data-modal-width="300" data-lightbox-animation="fade" data-modal-animation="slideInTop">info</a></div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-full">
																		<div class="field-wrapper pt-10 pb-10">
																		 	<input id="checkbox-save-card-details" class="form-save-card-details form-element checkbox rounded no-margin-bottom" name="save_card_details" type="checkbox" required>
																			<label for="checkbox-save-card-details" class="checkbox-label no-margin-bottom">Save my credit card for future purchases</label>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div id="tabs-paypal">
															<div class="tab-content">
																<div class="row">
																	<div class="col w-full">
																		<div class="input-group">
																			<input type="email" name="paypal_email" class="form-email form-element rounded-l md" placeholder="Enter Your PayPal Email" required>
																			<div class="form-element input-icon size-md rounded-r"><span class="icon-material">email</span></div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col w-10/12">
																		<p><span class="badge rounded bg-pink color-white">Note</span> You'll be redirected to PayPal to fill out your payment details. You'll be redirected back to Boilerplate once payment is confirmed.</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Payment Method End -->

										<!-- Submit Payment -->
										<div class="row">
											<div class="col w-full">
												<input type="submit" value="Submit Payment" class="form-submit button rounded size-md mb-0" >
											</div>
										</div>
										<!-- Submit Payment End -->

									</form>
								</div>
							</div>
							<!-- Billing Form End -->

						</div>
						<!-- Content Inner End -->
					
					</div>
				</div>

				<!-- CVV Modal -->
				<div id="cvv-modal" class="modal-dialog-inner section-block cart-overview pt-0 pb-30 background-none hide">
					<div class="modal-header bg-green color-white">
						<h4 class="modal-header-title">Locating CVV</h4>
					</div>
					
					<div class="thumbnail">
						<img src="images/generic/cvv-credit-card.jpeg" width="300" alt="">
					</div>
					<p>The CVV of your credit card can be found at the back of your credit card, as indicated in the image above.</p>

					<!-- Aux Close -->
					<div class="row">
						<div class="col w-full center">
							<a href="#" class="tml-aux-exit button rounded size-md no-margin-right">Yup, got it!</a>
						</div>
					</div>
					<!-- Aux Close End -->

				</div>
				<!-- CVV Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="footer-top">
					<div class="row">
						<div class="col w-full center">
							<div class="footer-block">
								<div class="footer-logo">
									<a href="../index.html"><img src="../images/logo.svg" alt="Logo" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row">
						<div class="col w-full">
							<div class="footer-bottom-inner flex justify-between">
								<p class="copyright color-grey-dark">&copy; ThemeMountain. All Rights Reserved. Released under MIT license.</p>
								<p><a href="#" class="scroll-to color-white color-hover-grey-light align-middle" data-scroll-type="window-scroll-to" data-scroll-y="0">Back Top <span class="icon-material size-sm m-0">arrow_upward</span></a></p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="../js/tm.core.min.js"></script>
</body>
</html>