<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../images/favicon/site.webmanifest">
	<link rel="mask-icon" href="../images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Timber | Layout: Cart</title>
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@unlimit.design">
	<meta name="twitter:title" content="Timber CSS Framework - Timber is a utility-first, desktop-first CSS framework built for fast prototyping">
	<meta name="twitter:description" content="Timber CSS Framework Documentation">
	<meta name="twitter:image" content="https://timbercss.com/twitter-card.png">
	<meta name="twitter:creator" content="@unlimit.design">
	<meta property="og:url" content="https://timbercss.com/" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Timber CSS Framework - Timber is a utility-first, desktop-first CSS framework built for fast prototyping" />
	<meta property="og:description" content="Timber CSS Framework Documentation" />
	<meta property="og:image" content="https://timbercss.com/twitter-card.png" />
	<link rel="stylesheet" href="../css/timber.css" />
</head>
<body>

	<!-- Side Navigation Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header flex justify-between items-center">
					<a href="index.html"><img src="../images/logo.png" alt="Logo" width="100"/></a>
					<a href="#" class="navigation-hide side-nav-hide"></a>
				</div>
				<nav class="side-navigation nav-block">
					<ul>
						<li>
							<a href="#" class="contains-sub-menu">Main menu item 1</a>
							<ul class="sub-menu">
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
								<li>
									<a href="#">Sub menu item 1</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2017 ThemeMountain.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Side Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header header-transparent fixed nav-dark" data-bkg-threshold="100" data-sticky-scroll-up>
				<div class="header-inner border-1 border-b border-grey-lightest">
					<div class="row nav-bar">
						<div class="col w-full nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="../index.html"><img src="../images/logo.svg" alt="Logo" /></a>
									<a href="../index.html"><img src="../images/logo-dark.svg" alt="Logo" /></a>
								</div>
							</div>
							<nav class="navigation primary-navigation nav-block nav-block-last ml-auto sub-menu-indicator">
								<ul>
									<li class="contains-mega-sub-menu">
										<a href="elements-accordions.html" class="active">Boilerplate</a>
										<ul class="mega-sub-menu row">
											<li class="col w-4/12">
												<h4>Sections</h4>
												<ul>
													<li>
														<a href="section-contact-forms.html" class="mega-menu-item">Contact Form Sections</a>
													</li>
													<li>
														<a href="section-feature-columns.html" class="mega-menu-item">Feature Column Sections</a>
													</li>
													<li>
														<a href="section-feature.html" class="mega-menu-item">Feature Sections</a>
													</li>
													<li>
														<a href="section-footer.html" class="mega-menu-item">Footer Sections</a>
													</li>
													<li>
														<a href="section-fullscreen.html" class="mega-menu-item">Fullscreen Sections</a>
													</li>
													<li>
														<a href="section-grid-default.html" class="mega-menu-item">Grid Section</a>
													</li>
													<li>
														<a href="section-grid-filter-menu-count.html" class="mega-menu-item">Grid Section (with filter count)</a>
													</li>
													<li>
														<a href="section-grid-infinite-scroll.html" class="mega-menu-item">Grid Section (with infinite scroll)</a>
													</li>
													<li>
														<a href="section-grid-load-more.html" class="mega-menu-item">Grid Section (with load more button)</a>
													</li>
													<li>
														<a href="section-grid-lazyload.html" class="mega-menu-item">Grid Section (with lazyload)</a>
													</li>
													<li>
														<a href="section-header.html" class="mega-menu-item">Header Sections</a>
													</li>
													<li>
														<a href="section-heros.html" class="mega-menu-item">Hero Sections</a>
													</li>
													<li>
														<a href="section-logos.html" class="mega-menu-item">Logo Sections</a>
													</li>
													<li>
														<a href="section-maps.html" class="mega-menu-item">Map Sections</a>
													</li>
													<li>
														<a href="section-one-page.html" class="mega-menu-item">One Page Section</a>
													</li>
													<li>
														<a href="section-pagination.html" class="mega-menu-item">Pagination Sections</a>
													</li>
													<li>
														<a href="section-signup-forms.html" class="mega-menu-item">Signup Form Sections</a>
													</li>
													<li>
														<a href="section-slider.html" class="mega-menu-item">Slider Sections</a>
													</li>
												</ul>
											</li>
											<li class="col w-4/12">
												<h4>Elements</h4>
												<ul>
													<li>
														<a href="elements-lightbox.html" class="mega-menu-item">Lightbox</a>
													</li>
													<li>
														<a href="elements-images.html" class="mega-menu-item">Images</a>
													</li>
													<li>
														<a href="elements-video.html" class="mega-menu-item">Video</a>
													</li>
													<li>
														<a href="elements-accordions.html" class="mega-menu-item">Accordions</a>
													</li>
													<li>
														<a href="elements-buttons.html" class="mega-menu-item">Buttons</a>
													</li>
													<li>
														<a href="elements-collapsable.html" class="mega-menu-item">Collapsable</a>
													</li>
													<li>
														<a href="elements-forms.html" class="mega-menu-item">Forms</a>
													</li>
													<li>
														<a href="elements-tabs.html" class="mega-menu-item">Tabs</a>
													</li>
													<li>
														<a href="elements-testimonials.html" class="mega-menu-item">Testimonials</a>
													</li>
													<li>
														<a href="elements-cards.html" class="mega-menu-item">Cards</a>
													</li>
													<li>
														<a href="elements-color-swatches.html" class="mega-menu-item">Color Swatches</a>
													</li>
													<li>
														<a href="elements-modals.html" class="mega-menu-item">Modals</a>
													</li>
													<li>
														<a href="elements-pagination.html" class="mega-menu-item">Pagination</a>
													</li>
													<li>
														<a href="elements-progress-bars.html" class="mega-menu-item">Progress Bars</a>
													</li>
													<li>
														<a href="elements-pricing-tables.html" class="mega-menu-item">Pricing Tables</a>
													</li>
													<li>
														<a href="elements-timeline.html" class="mega-menu-item">Timeline</a>
													</li>
													<li>
														<a href="elements-typography.html" class="mega-menu-item">Typography</a>
													</li>
												</ul>
											</li>
											<li class="col w-4/12">
												<h4>Layout Samples</h4>
												<ul>
													<li>
														<a href="layout-blog-grid.html" class="mega-menu-item">Blog Grid</a>
													</li>
													<li>
														<a href="layout-blog-list.html" class="mega-menu-item">Blog List</a>
													</li>
													<li>
														<a href="layout-blog-sidebar-left.html" class="mega-menu-item">Blog Sidebar Left</a>
													</li>
													<li>
														<a href="layout-blog-sidebar-right.html" class="mega-menu-item">Blog Sidebar Right</a>
													</li>
													<li>
														<a href="layout-blog-single-post-sidebar-right.html" class="mega-menu-item">Blog Single Post</a>
													</li>
													<li>
														<a href="layout-cart.html" class="mega-menu-item">Cart</a>
													</li>
													<li>
														<a href="layout-checkout.html" class="mega-menu-item">Checkout</a>
													</li>
													<li>
														<a href="layout-confirmation.html" class="mega-menu-item">Confirmation</a>
													</li>
													<li>
														<a href="layout-login.html" class="mega-menu-item">Login</a>
													</li>
													<li>
														<a href="layout-maintenance.html" class="mega-menu-item">Maintenance</a>
													</li>
													<li>
														<a href="layout-product-grid.html" class="mega-menu-item">Product Grid</a>
													</li>
													<li>
														<a href="layout-product-single.html" class="mega-menu-item">Product Single</a>
													</li>
													<li>
														<a href="layout-product-single-alt.html" class="mega-menu-item">Product Single Alt</a>
													</li>
													<li>
														<a href="layout-register.html" class="mega-menu-item">Register</a>
													</li>
													<li>
														<a href="layout-register-progress.html" class="mega-menu-item">Register Progress</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block secondary-navigation">
								<ul>
									<li class="aux-navigation hide">
										<div>
											<a href="#" class="navigation-show side-nav-show nav-icon"></a>
										</div>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Masthead -->
				<div class="section-block masthead bg-grey-ultralight">
					<div class="row align-items-center">
						<div class="col w-6/12">
							<h2>Cart</h2>
						</div>
						<div class="col w-6/12 right left-sm">
							<ul class="breadcrumb">
								<li>
									<a href="index.html">Layout</a>
								</li>
								<li>
									Cart
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Masthead End -->

				<!-- Cart -->
				<div class="section-block">
					<div class="row">
						<div class="col w-10/12 offset-1">

							<!-- Cart Message -->
							<div class="row">
								<div class="col w-full">
									<p class="lead">You have <span class="item-number weight-bold">3</span> items in your cart, for a subtotal of <span class="cart-subtotal weight-bold">$1685.00</span>.</p>
								</div>
								<div class="col w-full">
									<hr>
								</div>
							</div>
							<!-- Cart Message End -->

							<!-- Cart Overview -->
							<div class="row">
								<div class="col w-full">
									<div class="cart-overview">
										<div class="cart-header font-bold">
											<div class="w-3/12 w-sm-4/12">
												Description
											</div>
											<div class="w-3/12 w-sm-4/12 hide-sm center">
												Price
											</div>
											<div class="w-3/12 w-sm-4/12 center">
												Quantity
											</div>
											<div class="w-3/12 w-sm-4/12 right">
												Total
											</div>
										</div>
										<div class="cart-item">
											<div class="product-details w-3/12 w-sm-4/12 flex items-center">
												<a href="single-product-device.html" class="product-thumbnail mr-10 hide-sm">
													<img src="images/shop/cart/cart-thumb-small.jpg" alt="">
												</a>
												<div>
													<h5 class="product-title mb-0">
														<a href="single-product-device.html">Bo BeoPlay A1 Grey</a>
													</h5>
												</div>
											</div>
											<div class="product-price w-3/12 w-sm-4/12 hide-sm center">
												<span class="currency">$</span>1199.00
											</div>
											<div class="product-quantity w-3/12 w-sm-4/12 center">
												<input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="form-element rounded size-sm mb-0 quantity" size="4" tabindex="2">
											</div>
											<div class="product-price product-total w-3/12 w-sm-4/12 right">
												<span class="currency">$</span>1199.00
											</div>
										</div>
										<div class="cart-item">
											<div class="product-details w-3/12 w-sm-4/12 flex items-center">
												<a href="single-product-device.html" class="product-thumbnail mr-10 hide-sm">
													<img src="images/shop/cart/cart-thumb-small.jpg" alt="">
												</a>
												<div>
													<h5 class="product-title mb-0">
														<a href="single-product-device.html">Bo BeoPlay A1 Grey</a>
													</h5>
												</div>
											</div>
											<div class="product-price w-3/12 w-sm-4/12 hide-sm center">
												<span class="currency">$</span>1199.00
											</div>
											<div class="product-quantity w-3/12 w-sm-4/12 center">
												<input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="form-element rounded size-sm mb-0 quantity" size="4" tabindex="2">
											</div>
											<div class="product-price product-total w-3/12 w-sm-4/12 right">
												<span class="currency">$</span>1199.00
											</div>
										</div>
										<div class="cart-item">
											<div class="product-details w-3/12 w-sm-4/12 flex items-center">
												<a href="single-product-device.html" class="product-thumbnail mr-10 hide-sm">
													<img src="images/shop/cart/cart-thumb-small.jpg" alt="">
												</a>
												<div>
													<h5 class="product-title mb-0">
														<a href="single-product-device.html">Bo BeoPlay A1 Grey</a>
													</h5>
												</div>
											</div>
											<div class="product-price w-3/12 w-sm-4/12 hide-sm center">
												<span class="currency">$</span>1199.00
											</div>
											<div class="product-quantity w-3/12 w-sm-4/12 center">
												<input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="form-element rounded size-sm mb-0 quantity" size="4" tabindex="2">
											</div>
											<div class="product-price product-total w-3/12 w-sm-4/12 right">
												<span class="currency">$</span>1199.00
											</div>
										</div>
										<hr class="mb-10">
										<div class="cart-amount cart-sub-total flex items-center justify-between">
											Sub Total
											<span class="amount"><span class="currency">$</span>1685.00</span>
										</div>
										<hr class="mt-10 mb-20">
										<div class="cart-actions flex items-center justify-between">
											<a href="cart.html" class="update-cart"><span class="icon-material mb-0">refresh</span> Update Cart</a>
											<a href="checkout.html" class="checkout button size-md m-0 rounded">Proceed To Checkout</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Cart Overview End -->

						</div>
					</div>
				</div>
				<!-- Cart End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="footer-top">
					<div class="row">
						<div class="col w-full center">
							<div class="footer-block">
								<div class="footer-logo">
									<a href="../index.html"><img src="../images/logo.svg" alt="Logo" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row">
						<div class="col w-full">
							<div class="footer-bottom-inner flex justify-between">
								<p class="copyright color-grey-dark">&copy; ThemeMountain. All Rights Reserved. Released under MIT license.</p>
								<p><a href="#" class="scroll-to color-white color-hover-grey-light align-middle" data-scroll-type="window-scroll-to" data-scroll-y="0">Back Top <span class="icon-material size-sm m-0">arrow_upward</span></a></p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="js/lib/jquery-3.2.1.min.js"></script>
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3JCAhNj6tVAO_LSb8M-AzMlidiT-RPAs"></script>-->
	<script src="js/timber.master.min.js"></script>
</body>
</html>