/*------------------------------------------------------------------
@section 74. Template Base
*/
.no-js,
.no-js{
	.horizon{
		opacity: 1;
		visibility: visible;
	}
}

.horizon{
	opacity: 0;
	visibility: hidden;
}

.content{
	-webkit-transition-property: transform, scale;
			transition-property: transform, scale;
	-webkit-transition-duration: $content-animation-duration;
			transition-duration: $content-animation-duration;
	-webkit-transform-origin: bottom;
    		transform-origin: bottom;
	position: relative;
	z-index: 1;
}

.animate-content{
	-webkit-transform: scale(0.95) translateY(0);
			transform: scale(0.95) translateY(0);
}

.reveal-side-navigation{
	background-color: transparent;
}

.content{
	background-color: $section-block-bkg-color
}

.media-col{
	width: 100%;
}

.lead,
.thumbnail,
.feature-column,
.button-group,
.table,
.pricing-table,  
.card,
.progress-bar-group,
.video-container,
.audio-container,
.content-slider,
.recent-slider{
	&:not([class*="mb-"]){
		margin-bottom: $component-margin-bottom;
	}
}
body.boxed{
	.section-block{
		padding-left: $column-gutter/2;
		padding-right: $column-gutter/2;
	}
	.section-block.featured-media{
		margin-left: -($column-gutter/2);
		margin-right: -($column-gutter/2);
	}
}

/* Nav Onepage */
.aux-navigation-active{
	.one-page-nav + .wrapper{
		position: absolute;
	}
	.side-navigation-wrapper,
	.overlay-navigation-wrapper{
		&.one-page-nav{
			position: fixed;
		}
	}
}

/* Swap Position */
.wrapper.inactive{ 
	.header-fixed,
	.tm-slider-parallax-container .tm-slider-container{
		position: relative !important;
	}
	.header-fixed-on-mobile .header-inner{
		position: absolute !important
	}
}
