/*------------------------------------------------------------------
@section 82. Logo Section
*/
// Shared attributes
.logo-grid{
	.grid{
		grid-auto-rows: minmax($logo-grid-item-height, auto);
	}
	.grid-item{
		min-height: auto;
		margin-bottom: 0;
		text-align: center;
		a,
		span{
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
		}
		img{
			margin: 0 auto;
		}
	}
}

// Bordered
.logo-grid.bordered{
	.grid-item{
		padding: 0;
		margin: -1px -1px 0 0;
		border-width: 1px 1px 0 0;
		border-style: inherit;
		position: relative;
		border-color: inherit;
	}
	.grid-item:before{
		height: 100%;
		border-width: 0 0 0 1px;
		border-style: inherit;
		border-color: inherit;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
	}
	.grid-item:after{
		width: 100%;
		border-width: 0 0 1px 0;
		border-style: inherit;
		border-color: inherit;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
	}
}