/*------------------------------------------------------------------
@section 58. Disabled States
*/
.disabled,
:disabled,
:disabled + label,
:disabled + label:before,
[readonly]{
	cursor: default;
	user-select: none;
	pointer-events: none;
	opacity: $component-opacity-disabled;
}